# Experiment Parameters
name:
  desc: Name of the experiment
  value: "modality-assessment-2"
notes:
  desc: Notes that can be passed to the wandb run
  value: "Multimodal Data Impact Assessment"
# Training Parameters
num_labels:
  desc: Number of target classes without the nodata class
  value: 23
precalculated_weights:
  desc: Optional rescaling weight given to each class and used with 'ce' loss
  value: [
    3.05754852e-09, 5.61588104e-08, 2.55059813e-07, 1.31145305e-08,
    1.18684274e-08, 2.41300286e-09, 1.39145003e-08, 2.71112867e-08,
    1.55613875e-08, 8.56254672e-09, 3.42943184e-08, 4.17894324e-09,
    4.42492833e-09, 2.31283622e-08, 1.43593138e-08, 5.54229727e-09,
    1.03878198e-08, 4.66937618e-08, 1.60617068e-08, 1.63495321e-08,
    2.86372574e-09, 1.65979327e-08, 6.29546752e-09, 4.21235049e-08
    ]
ignore_index:
  desc: Index to ignore in the loss function (e.g., nodata class)
  value: 0
matmul_precision:
  desc: Internal precision of float32 matrix multiplications
  value: "high"
num_dataloader_workers:
  desc: Number of parallel workers for data loading
  value: 4
gpu_id:
  desc: GPU device ID to use
  value: 0
hyperparameters:
  desc: Hyperparameter dictionary for model training
  value: {
    "batch_size": 32,
    "patch_size": 256,
    "learning_rate": 0.005,
    "loss": "ce",
    "monitor_metric": "val_MulticlassJaccardIndex",
    "patience": 30,
    "res": null,
    "train_batches_per_epoch": 512,
    "val_batches_per_epoch": 64,
    "model": "unet",
    "backbone": "mit_b2",
    "input_bands": ["rgb", "cir"],
    "use_pretrained_model_weights": True,
    "min_epochs": 50,
    "max_epochs": 300
  }
data_folder:
  desc: Path to input data
  value: "/dibhome/daniel.kulmer/HabitAlp2.0/Originaldaten"
mask_path:
  desc: Path to label mask image
  value: "processed/mask/classes_v3_2013.tif"
roi_shape_path:
  desc: Path to ROI geopackage file
  value: "roi/habitalp_2013_boundary.gpkg"
image_data_paths:
  desc: Relative paths & keys for the input imagery
  value: {
      "rgb": "processed/orthophoto_gis_stmk/flug_2013_2015_rgb.tif",
      "cir": "processed/orthophoto_gis_stmk/falschfarben_2013_2015.tif",
      "spot-4": "processed/spot-4/S4_H1_I_DT_20120911092120_TT_014380.tif",
      "dtm": "processed/elevation_gis_stmk_2010_2012/dtm.tif",
      "dsm": "processed/elevation_gis_stmk_2010_2012/dsm.tif",
      "ndsm": "processed/elevation_gis_stmk_2010_2012/ndsm.tif",
      "slope": "processed/elevation_gis_stmk_2010_2012/slope.tif",
      "aspect": "processed/elevation_gis_stmk_2010_2012/aspect.tif",
      "tri": "processed/elevation_gis_stmk_2010_2012/tri.tif",
      "tpi": "processed/elevation_gis_stmk_2010_2012/tpi.tif",
      "roughness_terrain": "processed/elevation_gis_stmk_2010_2012/roughness_terrain.tif",
      "roughness_canopy": "processed/elevation_gis_stmk_2010_2012/roughness_canopy.tif",
      "curvature": "processed/elevation_gis_stmk_2010_2012/curvature.tif",
      "planform_curvature": "processed/elevation_gis_stmk_2010_2012/planform_curvature.tif",
      "profile_curvature": "processed/elevation_gis_stmk_2010_2012/profile_curvature.tif",
      "fhd": "processed/elevation_forest_attributes_2013/fhd.tif",
      "kurtosis": "processed/elevation_forest_attributes_2013/kurtosis.tif",
      "percentile_90": "processed/elevation_forest_attributes_2013/percentile_90.tif",
      "skewness": "processed/elevation_forest_attributes_2013/skewness.tif",
      "stddev": "processed/elevation_forest_attributes_2013/stddev.tif",
      "vertical_structure": "processed/elevation_forest_attributes_2013/vertical_structure.tif",
  }
# Evaluation Parameters:
image_data_paths_pred_2020:
  desc: Relative paths & keys for the prediction input imagery
  value: {
      "rgb": "processed/orthophoto_gis_stmk/flug_2019_2021_rgb.tif",
      "cir": "processed/orthophoto_gis_stmk/falschfarben_2019_2021.tif",
      "spot-4": null,
      "dtm": "processed/elevation_fefimapla/dtm.tif",
      "dsm": "processed/elevation_fefimapla/dsm.tif",
      "ndsm": "processed/elevation_fefimapla/ndsm.tif",
      "slope": "processed/elevation_fefimapla/slope.tif",
      "aspect": "processed/elevation_fefimapla/aspect.tif",
      "tri": "processed/elevation_fefimapla/tri.tif",
      "tpi": "processed/elevation_fefimapla/tpi.tif",
      "roughness_terrain": "processed/elevation_fefimapla/roughness_terrain.tif",
      "roughness_canopy": "processed/elevation_fefimapla/roughness_canopy.tif",
      "curvature": "processed/elevation_fefimapla/curvature.tif",
      "planform_curvature": "processed/elevation_fefimapla/planform_curvature.tif",
      "profile_curvature": "processed/elevation_fefimapla/profile_curvature.tif",
      "fhd": "processed/elevation_forest_attributes_2020/fhd.tif",
      "kurtosis": "processed/elevation_forest_attributes_2020/kurtosis.tif",
      "percentile_90": "processed/elevation_forest_attributes_2020/percentile_90.tif",
      "skewness": "processed/elevation_forest_attributes_2020/skewness.tif",
      "stddev": "processed/elevation_forest_attributes_2020/stddev.tif",
      "vertical_structure": "processed/elevation_forest_attributes_2020/vertical_structure.tif",
  }
image_data_paths_pred_2024:
  desc: Relative paths & keys for the 2024 prediction input imagery (DTM-derived layers from 2013)
  value: {
      "rgb": "processed/orthophoto_gis_stmk/flug_2022_2024_rgb.tif",
      "cir": "processed/orthophoto_gis_stmk/falschfarben_2022_2024.tif",
      "spot-4": null,
      "dtm": "processed/elevation_gis_stmk_2010_2012/dtm.tif",
      "dsm": "processed/elevation_gis_stmk_photogrammetry_2022_2023/dsm.tif",
      "ndsm": "processed/elevation_gis_stmk_photogrammetry_2022_2023/ndsm.tif",
      "slope": "processed/elevation_gis_stmk_2010_2012/slope.tif",
      "aspect": "processed/elevation_gis_stmk_2010_2012/aspect.tif",
      "tri": "processed/elevation_gis_stmk_2010_2012/tri.tif",
      "tpi": "processed/elevation_gis_stmk_2010_2012/tpi.tif",
      "roughness_terrain": "processed/elevation_gis_stmk_2010_2012/roughness_terrain.tif",
      "roughness_canopy": "processed/elevation_gis_stmk_photogrammetry_2022_2023/roughness_canopy.tif",
      "curvature": "processed/elevation_gis_stmk_2010_2012/curvature.tif",
      "planform_curvature": "processed/elevation_gis_stmk_2010_2012/planform_curvature.tif",
      "profile_curvature": "processed/elevation_gis_stmk_2010_2012/profile_curvature.tif",
      "fhd": null,
      "kurtosis": null,
      "percentile_90": null,
      "skewness": null,
      "stddev": null,
      "vertical_structure": null,
  }
class_names:
  desc: List with class names without the nodata class. Used for plot labels. (optional)
  value: [
    "Waterbody",
    "Gravel bank, shoal, fluviatile",
    "Erosion area, gully",
    "Debris-covered areas",
    "Rock",
    "Young conif. (growth, thicket)",
    "Young broadl. (growth, thicket)",
    "Conif. pole timber CC<80",
    "Conif. pole timber CC>=80",
    "Broadl. pole timber",
    "Conif. mature forest CC<80",
    "Conif. mature forest CC>=80",
    "Broadl. mature forest CC<80",
    "Broadl. mature forest CC>=80",
    "Old conif. forest, multilayered CC<80",
    "Old conif. forest, multilayered CC>=80",
    "Old broadl. forest, multilayered CC<80",
    "Old broadl. forest, multilayered CC>=80",
    "Clearcut areas",
    "Mountain dwarf forest",
    "Grassland, buffer strip",
    "Alpine grassland, heath",
    "Low importance or small extent",
    ]
train_data_area_path:
  desc: Area of training data for plots (optional)
  value: "model_output/train_val_test_area.csv"
prediction_mask_path_2020:
  desc: Path to label mask image of the prediction dataset
  value: "processed/mask/classes_v3_2020.tif"
prediction_mask_path_2024:
  desc: Path to label mask image of the prediction dataset
  value: "processed/mask/classes_v3_2024.tif"